<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>title : <%= post.title %></p>
    <p>body : <%= post.body %></p>
    <p>id : <%= post.id %></p>
    <a href="/update/<%= post.id %>">
        <button>수정</button>
    </a>
    <form action="/delete/<%= post.id %>" method="POST">
        <button>삭제</button>
    </form>
    
</body>
</html>